
            .custom-header {
                background-color: white;
                border-bottom: 1px solid #ddd;
                padding: 10px 20px;
            }
            .logo {
                font-size: 1.5rem;
                font-weight: bold;
                color: #5a46a3;
                text-decoration: none;
            }
            .logo span {
                color: #f57f17;
            }
            .nav-item {
                margin-right: 20px;
            }

        .nav {
            display: flex;
            gap: 20px;
        }

        .nav a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }

        .nav a:hover {
            color: #007bff;
        }

        .login-button {
            background-color: #4a3c92;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
        }

        .login-button:hover {
            background-color: #3b317a;
        }
 
        .slider-container {
          max-width: 600px;
          margin: auto;
        }
        .row {
          margin-bottom: 20px;
        }
        .form-range {
          flex-grow: 1;
        }
        .form-control {
          width: 80px;
          text-align: center;
        }
        .bmi-box {
          border: 1px solid #000;
          padding: 20px;
          text-align: center;
          font-size: 1.5rem;
          margin-top: 20px;
        }
      